description: """\

Provider is an OCaml library for creating Traits and Interfaces. It
allows you to define the functionality needed by a library without
committing to a specific implementation.

In essence, Provider handles dynamic dispatch, where the target of a
function call is not known until runtime.

"""
tags: [ "dynamic-dispatch" "parametrization" "traits" "typeclasses" ]
x-maintenance-intent: [ "(latest)" ]
